$brick-red: #d43E55;
$brick-darker-red: #A72539;
$text-light-grey: #929292;
$light-grey:#F0EDED;
$white: #FFFFFF;
$dim-white:	#E8E8E8;
$facebook-blue: #375A95;
$facebook-darker-blue: #213659;
$twitter-blue: #00A0EF;
$twitter-darker-blue: #086EA0;
$google-red: #E44640;
$google-darker-red: #931A15;


$default-font-size: 16;
