@font-face {
  font-family: 'icons';
  src: url('font/icons.eot?63659510');
  src: url('font/icons.eot?63659510#iefix') format('embedded-opentype'),
       url('font/icons.woff2?63659510') format('woff2'),
       url('font/icons.woff?63659510') format('woff'),
       url('font/icons.ttf?63659510') format('truetype'),
       url('font/icons.svg?63659510#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}